{% extends 'BinaerpilotenMagicBundle::index.html.twig' %}

{% form_theme form 'BinaerpilotenMagicBundle:Main/Form:fields.html.twig' %}

{% block tplscript %}
	<script	src="{{ asset('bundles/binaerpilotenmagic/js/jquery-sortable.js') }}"></script>
	{% include "BinaerpilotenMagicBundle:Main/Form:dragndrop.js.html.twig" %}
{% endblock %}

{% block content %}
<h1>Filter creation</h1>
{{ form_start(form, { 'attr': {'id': 'kartefilter-new-form'}}) }}

	<div>
		{{ form_errors(form) }}
		{{ form_errors(form.typ) }}
		{{ form_errors(form.farbe) }}
		{{ form_errors(form.seltenheit) }}
	</div>
	
	<h2>Die Spieler</h2>
	<div class="row">
		<div class="col-md-6">
	    <ol class="target list-group" style="min-height: 500px;">
	    	<span class="list-group-item">Gewählte Filter</span>
	    </ol>
		</div>
		
		<div class="col-md-6">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#typ" data-toggle="tab">Typ</a></li>
				<li><a href="#farbe" data-toggle="tab">Farbe</a></li>
				<li><a href="#seltenheit" data-toggle="tab">Seltenheit</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="typ">
					{{ form_widget(form.typ) }}
				</div>
				<div class="tab-pane" id="farbe">
					{{ form_widget(form.farbe) }}
				</div>
				<div class="tab-pane" id="seltenheit">
					{{ form_widget(form.seltenheit) }}
				</div>
			</div>
		</div>
	</div>
	
<div class="hidden">{{ form_widget(form.submit) }}</div>	
{{ form_end(form) }}

{% endblock %}

{% block user_menu %}
	{{ menuButton('Suchen','',{},'kartefilter-new-form')|raw }}
{% endblock %}