{% extends 'BinaerpilotenMagicBundle::index.html.twig' %}

{% block tplscript %}
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Farbe', 'Anzahl'],
          {% for k,v in farben %}
	          ['{{ k }}',     {{ v.count }}],
          {% endfor %}
        ]);

        var options = {
          title: 'Farben',
          backgroundColor: 'transparent',
          pieSliceText: 'none',
          pieSliceBorderColor: 'gray',
          slices: {
        	  	{% for k,v in farben %}
					{{ v.slice }}: {color: '{{ v.color }}'},
				{% endfor %}
              }
        };

        var chart = new google.visualization.PieChart(document.getElementById('farben'));
        chart.draw(data, options);
      }
    </script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Farbe', 'Anzahl'],
          {% for k,v in selten %}
	          ['{{ k }}',     {{ v.count }}],
          {% endfor %}
        ]);

        var options = {
          title: 'Seltenheiten',
          backgroundColor: 'transparent',
          pieSliceText: 'none',
          pieSliceBorderColor: 'gray',
          slices: {
        	  	{% for k,v in selten %}
					{{ v.slice }}: {color: '{{ v.color }}'},
				{% endfor %}
              }
        };

        var chart = new google.visualization.PieChart(document.getElementById('seltenheiten'));
        chart.draw(data, options);
      }
    </script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Farbe', 'Anzahl'],
          {% for k,v in typen %}
	          ['{{ k }}',     {{ v.count }}],
          {% endfor %}
        ]);

        var options = {
          title: 'Typen',
          backgroundColor: 'transparent',
          pieSliceText: 'none',
          pieSliceBorderColor: 'gray',
        };

        var chart = new google.visualization.PieChart(document.getElementById('typ'));
        chart.draw(data, options);
      }
    </script>
    <script type="text/javascript">
    function drawVisualization() {
        // Some raw data (not necessarily accurate)
        var data = google.visualization.arrayToDataTable([
          ['Mana', {% for k,v in mana[0] %}'{{ k }}',{% endfor %}],
          {% for zahl in mana %}
          	[{{ loop.index }}, {% for z in zahl %}{{ z.count }},{% endfor %}], 
          {% endfor %}
        ]);

        var options = {
          title : 'Manakosten nach Farbe',
          backgroundColor: 'transparent',
          vAxis: {title: "Anzahl"},
          hAxis: {title: "Kosten",
              	  ticks: [0,1,2,3,4,5,6,7]
              	},
          seriesType: "bars",
          colors: [ {% for t in mana[0] %}'{{ t.color }}',{% endfor %} ],
        };

        var chart = new google.visualization.ComboChart(document.getElementById('mana'));
        chart.draw(data, options);
      }
      google.setOnLoadCallback(drawVisualization);
    </script>
{% endblock %}

{% block content %}
	<div class="row">
		<h1>Andres DraftCube Verwalter</h1>
	</div>
	<div class="row">
		<div id="farben" class="col-md-6 well" style="height: 400px;"></div>
		<div id="seltenheiten" class="col-md-6 well" style="height: 400px;"></div>
	</div>
	<div class="row">
		<div id="mana" class="col-md-12 well" style="height: 400px;"></div>
	<div class="row">
	</div>
		<div id="typ" class="col-md-6 well" style="height: 400px;"></div>
	</div>
{% endblock %}