{% extends "BinaerpilotenMagicBundle::index.html.twig" %}

{% block fos_user_content %}
{{ form_start(form, { 'attr': {'id': 'user-new-form'}}) }}
<div class="row">
	<div class="col-md-12">
	    <h1>Nutzername: {{ form_widget(form.username) }}</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
	    <table class="record_properties table">
	        <tbody>
	            <tr>
	                <th>Name</th>
	                <td>{{ form_widget(form.name) }}</td>
	            </tr>
	            <tr>
	                <th>Email</th>
	                <td>{{ form_widget(form.email) }}</td>
	            </tr>
	            <tr>
	                <th>Passwort</th>
            		<td>{{ form_widget(form.plainPassword.first) }}</td>
	                <th>Wiederholen</th>
            		<td>{{ form_widget(form.plainPassword.second) }}</td>
	            </tr>
	        </tbody>
	    </table>
	</div>
</div>
{{ form_end(form) }}
{% endblock fos_user_content %}

{% block admin_menu %}
	{{ menuButton('Alle User','user')|raw }}
{% endblock %}

{% block superadmin_menu %}
	{{ menuButton('Erstellen','',{},'user-new-form')|raw }}
{% endblock %}