{% extends 'BinaerpilotenMagicBundle::index.html.twig' %}

{% block content %}
    <div class="row">
    	<div class="col-md-6">
    		<span class="centering col-md-12">Farbe:</span>
			<h1>{{ entity.name }}</h1>
    	</div>
    	<div class="col-md-6">
    		<table class="table">
    			<tr>
    				<th>Darstellung:</th>
    				<td>{{ entity.display }}</td>
    			</tr>
    		</table>
    	</div>
    </div>
{% endblock %}

{% block admin_menu %}
	{{ menuButton('Bearbeiten','farbe_edit',{'id': entity.id})|raw }}
	{{ menuButton('Übersicht','farbe')|raw }}
	<li>
	    {{ form_start(delete_form, { 'attr': {'class': 'main-menu'}}) }}
	    	{{ form_widget(delete_form.submit, { 'attr': {'class': 'btn'}}) }}
	    {{ form_end(delete_form) }}
    </li>
{% endblock %}
