<li>
	<div class="btn-group primary main-menu">
		<button type="button" class="btn dropdown-toggle"
			data-toggle="dropdown">
			<span class="glyphicon glyphicon-chevron-left pull-left"></span> Admin
		</button>
		<ul class="dropdown-menu pull-right" role="menu">
			<li><a href="{{ path('karte_new') }}">Neue Karte</a></li>
			<li>
				<div class="btn-group secondary">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						Farbe
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="{{ path('farbe') }}">Alle Farben</a></li>
						<li class="divider"></li>
						<li><a href="{{ path('farbe_new') }}">Neue Farbe</a></li>
					</ul>
				</div>
			</li>
			<li>
				<div class="btn-group secondary">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						Typ
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="{{ path('typ') }}">Alle Typen</a></li>
						<li class="divider"></li>
						<li><a href="{{ path('typ_new') }}">Neuer Typ</a></li>
					</ul>
				</div>
			</li>
			<li>
				<div class="btn-group secondary">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						Seltenheit
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="{{ path('seltenheit') }}">Alle Seltenheiten</a></li>
						<li class="divider"></li>
						<li><a href="{{ path('seltenheit_new') }}">Neue Seltenheit</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</li>