{% extends 'BinaerpilotenMagicBundle::index.html.twig' %}

{% form_theme form 'BinaerpilotenMagicBundle:Main/Form:kartefields.html.twig' %}

{% block content %}
{{ form_start(form, { 'attr': {'id': 'karte-edit-form'}}) }}
    
<div class="row">
	<div class="col-md-6">
		<span class="centering col-md-12">Karte bearbeiten:</span>
		<h1>{{ form_widget(form.name) }}</h1>
	</div>
	<div class="col-md-6">
		<table class="table">
		  <tr>
		    <td>Anzahl: </td>
		    <td>{{ form_widget(form.anzahl) }}</td>
		  </tr>
		  <tr>
		    <td>Umgewandelte Manakosten: </td>
		    <td>{{ form_widget(form.mana) }}</td>
		  </tr>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-md-4 form-listing well">
		<h4>Farbe</h4>
		{{ form_widget(form.farbe) }}
	</div>
	<div class="col-md-4 form-listing well">
		<h4>Typ</h4>
		{{ form_widget(form.typ) }}
	</div>
	<div class="col-md-4 form-listing well">
		<h4>Seltenheit</h4>
		{{ form_widget(form.seltenheit) }}
	</div>
</div>
<div class="row">
	<div class="col-md-4 form-listing well">
		<h4>Edition</h4>
		{{ form_widget(form.edition) }}
	</div>
</div>

<ul><li class="hidden">{{ form_widget(form.submit) }}</li></ul>
{{ form_end(form) }}

{% endblock %}

{% block user_menu %}
	{{ menuButton('Übersicht','karte')|raw }}
{% endblock %}

{% block admin_menu %}
	{{ menuButton('Aktualisieren','',{},'karte-edit-form')|raw }}
	<li>
	    {{ form_start(delete_form, { 'attr': {'class': 'main-menu'}}) }}
	    	{{ form_widget(delete_form.submit, { 'attr': {'class': 'btn'}}) }}
	    {{ form_end(delete_form) }}
    </li>
{% endblock %}
