{% extends 'BinaerpilotenMagicBundle::index.html.twig' %}

{% block content %}
    <h1>Karte list</h1>

    <table class="records_list table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Anzahl</th>
                <th>Typ</th>
                <th>Farbe</th>
                <th>Mana</th>
                <th>Seltenheit</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                {% if is_granted('ROLE_ADMIN') %}
                	<a href="{{ path('karte_edit', { 'id': entity.id }) }}">{{ entity.name }}</a>
                {% else %}
                	<a href="{{ path('karte_show', { 'id': entity.id }) }}">{{ entity.name }}</a>
                {% endif %}
                </td>
                <td>{{ entity.anzahl }}</td>
                <td>
                	<ul>
                		{% for t in entity.typ %}
                			<li>{{ t }}</li>
                		{% endfor %}
                	</ul>
                </td>
                <td>
                	<ul>
                		{% for f in entity.farbe %}
                			<li>{{ f }}</li>
                		{% endfor %}	
                	</ul>
                </td>
                <td>{{ entity.mana }}</td>
                <td>{{ entity.seltenheit }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% if is_granted('ROLE_ADMIN') %}
	<ul>
        <li>
            <a href="{{ path('karte_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endif %}
{% endblock %}