{% extends 'BinaerpilotenMagicBundle::index.html.twig' %}

{% block content %}
    <h1>Karte list</h1>

    <table class="records_list table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Anzahl</th>
                <th>Typ</th>
                <th>Farbe</th>
                <th>Mana</th>
                <th>Seltenheit</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                	<a href="
                {%- if is_granted('ROLE_ADMIN') -%}
                	{{ path('karte_edit', { 'id': entity.id }) -}}
                {% else %}
                	{{ path('karte_show', { 'id': entity.id }) -}}
                {%- endif -%}
                	" class="preview">{{ entity.name }}</a>
                </td>
                <td>{{ entity.anzahl }}</td>
                <td>
                	<ul>
                		{% for t in entity.typ -%}
                			<li>{{ t }}</li>
                		{%- endfor %}
                	</ul>
                </td>
                <td>
                	<ul>
                		{% for f in entity.farbe %}
                			<li>{{ f }}</li>
                		{% endfor %}	
                	</ul>
                </td>
                <td>{{ entity.mana }}</td>
                <td>{{ entity.seltenheit }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block tplscript %}
<script type="text/javascript">
this.imagePreview = function(){	
	$("a.preview").hover(function(e){
		var t = this.text.replace(/'/g,"&#039;");
		$("body").append('<div id="preview"><img src="http://mtgimage.com/card/'+ t +'.jpg" alt="'+ t +'" /></div>');
		$("#preview")
			.css("top",  calcPosTop(e.pageY) + "px")
			.css("left", calcPosLeft(e.pageX) + "px")
			.fadeIn("fast");						
    },
	function(){ $("#preview").remove(); }
    );	
	$("a.preview").mousemove(function(e){
		$("#preview")
			.css("top",  calcPosTop(e.pageY) + "px")
			.css("left", calcPosLeft(e.pageX) + "px");
	});			
};

this.calcPosTop = function(y){
	var newPos = (y - 10);
	var screen = $(window).height();
	var dim = $('#preview').height();
	if (newPos+dim > screen) newPos = screen - dim;
	return newPos;
};

this.calcPosLeft = function(x){
	var newPos = (x + 30);
	var screen = $(window).width();
	var dim = $('#preview').width();
	if (newPos+dim > screen) newPos = screen - dim;
	return newPos;
};

$(document).ready(function(){
	imagePreview();
	});
</script>
{% endblock %}

{% block tplstyle %}
<style type="text/css">
	#preview{ position:absolute; display:none; }
	#preview img { width: 50%; }	
</style>
{% endblock %}

{% block admin_menu %}
	{{ menuButton('Neue Karte', 'karte_new')|raw }}
{% endblock %}