{% extends 'BinaerpilotenMagicBundle::index.html.twig' %}

{% form_theme form 'BinaerpilotenMagicBundle:Main/Form:kartefields.html.twig' %}

{% block content %}
    {{ form_start(form, { 'attr': {'id': 'karte-new-form'}}) }}
    <div class="row">
    	<div class="col-md-6">
    		<span class="centering col-md-12">Karte erstellen:</span>
			<h1>{{ form_widget(form.name) }}</h1>
    	</div>
    	<div class="col-md-6">
    		<table class="table">
			  <tr>
			    <th>Anzahl: </th>
			    <td>{{ form_widget(form.anzahl) }}</td>
			  </tr>
			  <tr>
			    <th>Umgewandelte Manakosten: </th>
			    <td>{{ form_widget(form.mana) }}</td>
			  </tr>
    		</table>
    	</div>
    </div>
</table>
<div class="row">
	<div class="col-md-4 form-listing well">
		<h4>Farbe</h4>
		{{ form_widget(form.farbe) }}
	</div>
	<div class="col-md-4 form-listing well">
		<h4>Typ</h4>
		{{ form_widget(form.typ) }}
	</div>
	<div class="col-md-4 form-listing well">
		<h4>Seltenheit</h4>
		{{ form_widget(form.seltenheit) }}
	</div>
</div>
<div class="row">
	<div class="col-md-4 form-listing well">
		<h4>Edition</h4>
		{{ form_widget(form.edition) }}
	</div>
</div>
    
<div class="hidden">{{ form_widget(form.submit) }}</div>
    {{ form_end(form) }}
{% endblock %}

{% block admin_menu %}
	{{ menuButton('Erstellen','',{},'karte-new-form')|raw }}
	{{ menuButton('Übersicht','karte')|raw }}
{% endblock %}
