{% extends 'BinaerpilotenMagicBundle::index.html.twig' %}

{% block content %}
    <h1>Karte</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Anzahl</th>
                <td>{{ entity.anzahl }}</td>
            </tr>
            <tr>
                <th>Farbe</th>
                <td>
                {% for f in entity.farbe %}
					<span class="btn btn-default">{{ f }}</span>
                {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Typ</th>
                <td>
                {% for f in entity.typ %}
					<span class="btn btn-default">{{ f }}</span>
                {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Stichwort</th>
                <td>{{ entity.stichwort }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('karte') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('karte_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
