{% extends 'BinaerpilotenMagicBundle::index.html.twig' %}

{% block content %}
    <h1>Karte</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Anzahl</th>
                <td>{{ entity.anzahl }}</td>
            </tr>
            <tr>
                <th>Farbe</th>
                <td>
                {% for f in entity.farbe %}
					<span class="btn btn-default">{{ f }}</span>
                {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Typ</th>
                <td>
                {% for t in entity.typ %}
					<span class="btn btn-default">{{ t }}</span>
                {% endfor %}
                </td>
            </tr>
            <tr>
            	<th>Seltehheit</th>
            	<td><span class="btn btn-default">{{ entity.seltenheit }}</span></td>
            </tr>
        </tbody>
    </table>

<ul class="record_actions">
    <li><a href="{{ path('karte') }}">zurück</a></li>
    {% if is_granted('ROLE_ADMIN') %}
	    <li><a href="{{ path('karte_edit', { 'id': entity.id }) }}">Bearbeiten</a></li>
	    <li>{{ form(delete_form) }}</li>
    {% endif %}
</ul>
{% endblock %}
